<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EasyModbusTCP" version="5.6.0" targetFramework="net48" />
  <package id="HslControls" version="3.4.0" targetFramework="net48" />
  <package id="Microsoft.Chart.Controls" version="4.7.2046" targetFramework="net48" />
  <package id="Microsoft.ReportingServices.ReportViewerControl.Winforms" version="150.1652.0" targetFramework="net48" />
  <package id="Microsoft.SqlServer.Types" version="14.0.314.76" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
  <package id="NModbus4" version="2.1.0" targetFramework="net48" />
  <package id="System.CodeDom" version="7.0.0" targetFramework="net48" />
  <package id="System.Management" version="7.0.2" targetFramework="net48" />
  <package id="System.Speech" version="7.0.0" targetFramework="net48" />
</packages>